<template>
    <div id="container" :class="[{'collapsed' : collapsed}]">
        <router-view/>
        <left-menu @toggle-collapse="onToggleCollapse"/>
    </div>
</template>

<script>
    import LeftMenu from './Menu.vue';

    export default {
        components: {
          LeftMenu
        },
        data() {
          return {
            collapsed: true
          }
        },
      methods: {
        onToggleCollapse(collapsed) {
            this.collapsed = collapsed;
        }
      }
    }
</script>

<style>
    #container {
        padding: 10px 10px 10px 360px;
        transition: 0.3s ease;
    }
    #container.collapsed {
        padding: 10px 10px 10px 60px;
    }
</style>
