<template>
    <sidebar-menu :menu="menu" :collapsed="collapsed" :showOneChild="true" @toggle-collapse="onToggleCollapse"/>
</template>

<script>
  import { SidebarMenu } from 'vue-sidebar-menu'
  import axios from 'axios'

  export default {
    components: {
      SidebarMenu
    },
    data() {
      return {
        collapsed: true,
        integrations: []
      };
    },
    computed: {
        menu() {
          return [
            {
              header: true,
              title: 'Main Navigation',
              hiddenOnCollapse: true
            },
            {
              title: 'Setup',
              icon: 'fas fa-cogs',
              child: this.integrations
            }
          ]
        }
    },
    methods: {
      onToggleCollapse(collapsed) {
        this.$emit('toggle-collapse', collapsed);
      }
    },
    mounted() {
      axios.get('/i')
          .then(
              response => {
                this.integrations = Object.keys(response.data.original).map(
                        key => ({href: `/setup/${key}`, title: response.data.original[key]})
                    );
              }
          ).catch(
              error => this.integretions = []
          );
    }
  }
</script>

<style scoped>

</style>
